@import '../assets/bootstrap.scss';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
$mainFont: "Montserrat";
$mainFontWeight: 500;
$mainFontSize: 18px;

form input {
    border-color: #ECECEC;
}

* {
    // padding: 0;
    // margin: 0;
    box-sizing: border-box;
}

header {
    .centralContainer {
        max-width: 1296px;
        margin: auto;
        .lowerCatalogBtn{
            position: relative;
        } 
    }

    position: absolute;
    padding: 20px 0;
    background-color: white;

    .logo {
        display: inline-block;

        &.hide {
            display: none;
        }
    }

    #catalogBtn {
        height: 48px;
        text-align: left;
        width: 100%;
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: $mainFontSize;
        line-height: 22px;
        color: #ffffff;
        padding: 10px 14px 10px 10px;
        background: #00c2ff;
        border: 1px solid #00c2ff;
        border-radius: 6px;
        margin-right: 18px;
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
        &:focus {
            border: 1px solid #00FFD1;
            outline: none;
        }

        &:hover {
            background: #2FDAFF;
            border: 1px solid #2FDAFF;
        }

        &:active {
            background: #00ACE2;
            border: 1px solid #00ACE2;
        }

        &:disabled {
            text-indent: 38px;
            background: #ECECEC;
            border: 1px solid #ECECEC;
            color: #BABABA;
            img {
                display: none;
            }

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                width: 28px;
                height: 28px;
                background-image: url('../images/NaviconsCatalogDisabled.svg');
            }
        }
    }

    .closeBusketBtn {
        padding: 0;
        padding-right: 12px;

        img {
            padding: 0;
        }
    }

    .phoneHeading {
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #000000;
        padding-left: 12px;
    }

    .busket {
        &:hover {
            background: #e7f9ff;
        }

        &.on {
            background: #aae9fd;
            border-radius: 6px;

            &:hover {
                background: #aae9fd;
            }
        }

        img {
            margin-right: 4px;
        }

        border: none;
        background: transparent;
        padding: 10px;

        p {
            &.hide {
                display: none;
            }

            padding: 2px;
            width: 19px;
            height: 19px;
            background: #00ffd1;
            border-radius: 34px;
            margin-bottom: 0;
            font-family: $mainFont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #000000;
        }
    }

    div.inputSearch {
        .searchOptions {
            top: 44px;
            width: 100%;
            background: #ffffff;
            position: absolute;
            z-index: 5;
            p {
                margin-bottom: 0;
                padding: 5px 14px;
                gap: 10px;
                cursor: pointer;
                background: #ffffff;
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 14px;
                line-height: 22px;
                text-decoration: none;
                color: #bababa;
            }
        }

        .searchOptions.borders {
            border: 1px solid #ececec;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .searchInput,
        .searchInput.error {
            &:focus {
                border-color: #00FFD1;
            }
        }

        .searchInput.error {
            color: #F65900;
            border: 1px #F65900 solid;

            &::placeholder {
                color: #F65900;
            }
        }

        .menuHover {
            background: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 20px 200px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            top: 58px;
            padding: 10px;
            z-index: 1;

            &.busketMenu {
                @media (min-width: 768px) {
                    height: auto;
                }

                padding-left: 0;
                padding-right: 0;
                right: 0;
            }

            ul {
                position: relative;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                margin-left: 12px;
                margin-right: 12px;
                margin-bottom: 21px;

                &::after {
                    content: "";
                    position: absolute;
                    background: #ececec;
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    bottom: -10px;
                }

                li {
                    padding: 0;
                    margin-bottom: 10px;

                    .wrapper {
                        &:first-child {
                            img {
                                border-radius: 3px;
                                margin-right: 10px;
                                width: 61px;
                                height: 61px;
                            }

                            p {
                                text-align: left;
                                max-width: 170px;
                                width: 100%;
                                font-family: $mainFont;
                                font-style: normal;
                                font-weight: $mainFontWeight;
                                font-size: 14px;
                                line-height: 17px;
                                color: #000000;
                            }
                        }

                        &:nth-child(2) {
                            p {
                                font-family: $mainFont;
                                font-style: normal;
                                font-weight: $mainFontWeight;
                                font-size: 14px;
                                line-height: 17px;
                                text-align: center;
                                color: #000000;
                            }

                            button {
                                padding: 0;
                            }

                            img {
                                &:hover {
                                    background: #d6f5ff;
                                    border-radius: 24px;
                                }

                                width: 24px;
                                height: 24px;
                            }

                            div {
                                &.counter {
                                    width: 68px;
                                    height: 24px;
                                    background: #fafafa;
                                    border-radius: 24px;
                                    margin-right: 10px;
                                    margin-bottom: 0;
                                }

                                &:last-child {
                                    p {
                                        margin-right: 10px;
                                        font-family: $mainFont;
                                        font-style: normal;
                                        font-weight: $mainFontWeight;
                                        font-size: 14px;
                                        line-height: 17px;
                                        text-align: right;
                                        color: #00bf9d;
                                    }

                                    button {
                                        img {
                                            width: 24px;
                                            height: 24px;

                                            &:hover {
                                                background: #ffe6d8;
                                                border-radius: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .payBtn {
                display: block;
                margin-left: 12px;
                margin-right: 12px;
                background: #00c2ff;
                border: 1px solid #00c2ff;
                padding: 12px;
                text-align: center;
                border-radius: 6px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: #ffffff;
                text-decoration: none;
            }

            .total {
                text-align: right;
                padding-right: 46px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-align: right;
                color: #00bf9d;
            }

            display: none;
            width: 365px;
            height: 315px;

            @media (max-width: 767px) {
                & {
                    width: 100vw;
                    height: 100vh;
                    position: fixed !important;
                    top: 0;
                    left: 0;
                    z-index: 5;
                }
            }

            .menu {
                margin-bottom: 15px;

                // padding-bottom: 40px;
                img {
                    width: 100%;
                }

                div {
                    div {
                        height: 60px;
                        padding-top: 0;
                        padding-bottom: 0;
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    p {
                        text-align: center;
                        width: 100%;
                    }

                    a {
                        line-height: 60px !important;
                        display: inline-block;
                        height: 60px;
                        width: 100%;
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: $mainFontWeight;
                        font-size: 30px;
                        line-height: 37px;
                        color: #ffffff;
                        text-decoration: none;
                        border-radius: 6px;
                    }
                }

                .fashion {
                    background: url(../images/fashion.jpg) no-repeat center;
                    background-size: cover;
                }

                .accessories {
                    background: url(../images/Accessories.jpg) no-repeat center;
                    background-size: cover;
                }

                .gadgets {
                    background: url(../images/gadgets.jpg) no-repeat center;
                    background-size: cover;
                }
            }

            div.list {
                a {
                    text-decoration: none;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: 16px;
                    line-height: 20px;
                    color: #00c2ff !important;
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        max-width: 846px;
        width: 100%;

        #catalogBtn {
            max-width: 135px;

            
        }

        div {
            button {
                top: 10px;
                right: 10px;
                background-color: transparent;
                z-index: 2;
                border: none;
            }
        }

        input {
            max-width: 693px;
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            padding: 13px 10px;
            gap: 10px;
            background: #ffffff;
            border: 1px solid #ececec;
            border-radius: 6px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: 18px;
            line-height: 22px;
            color: #bababa;

            &:focus {
                outline: none
            }
        }
    }
}

.onSale .productItemLink .saleIndicator,
.productItemLink .saleIndicator,.saleIndicator {
    top: 10px;
    left: 22px;
    padding: 6px;
    gap: 10px;
    background: #00ffd1;
    border-radius: 4px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: $mainFontWeight;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

@keyframes addToCartHoverBtn {
    from {
        background-image: url('../images/Spinner.svg');
    }

    70% {
        background-image: url('../images/Spinner.svg');
    }

    100% {
        background-image: url('../images/Success.svg');
    }
}

.onSale {
    padding-top: 40px;

    .productItemLink {
        &:hover {
            button {
                display: block;
            }
        }

        p {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: 16px;
            line-height: 20px;
            color: #00bf9d;
            margin-bottom: 0;

            &:first-child {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 40px;
            }

            span {
                padding-left: 10px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 16px;
                line-height: 20px;
                text-decoration-line: line-through;
                color: #bababa;
            }
        }

        button {
            display: none;
            margin-top: 10px;
            padding: 13px;
            width: 100%;
            background: #00C2FF;
            border: 1px solid #00C2FF;
            border-radius: 6px;
            color: white;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: $mainFontSize;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;

            &.animationAddToCartBtn {
                display: block;
                padding: 11px;
                border: none;
                outline: none;
                background: #00FFD1;
            }

            &.animationAddToCartBtn .spinner {
                margin: auto;
                padding: 0;
                width: 28px;
                height: 28px;
                background-repeat: no-repeat;
                animation: 2s linear addToCartHoverBtn;
            }
        }

        a {
            padding-left: 0;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            text-decoration: none;
            padding-bottom: 10px;

            &:first-child {
                img {
                    width: 100%;
                }
            }
        }
    }

    img {
        border-radius: 6px;
    }

    .row {
        div {
            padding-bottom: 40px;
        }
    }

    &:nth-child(4) {
        &::after {
            content: "";
            background: #ececec;
            height: 1px;
            position: absolute;
            width: calc(100% - 40px);
        }
    }
}

.categories {
    padding-top: 40px;
    // padding-bottom: 40px;

    img {
        width: 100%;
    }

    div {
        div {
            height: 200px;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            text-align: center;
            width: 100%;
        }

        a {
            line-height: 200px !important;
            display: inline-block;
            height: 200px;
            width: 100%;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: 30px;
            line-height: 37px;
            color: #ffffff;
            text-decoration: none;
            border-radius: 6px;
        }
    }

    .fashion {
        background: url(../images/fashion.jpg) no-repeat center;
        background-size: cover;
    }

    .accessories {
        background: url(../images/Accessories.jpg) no-repeat center;
        background-size: cover;
    }

    .gadgets {
        background: url(../images/gadgets.jpg) no-repeat center;
        background-size: cover;
    }
}

.saleBanner {
    height: 100vh;
    padding: 25vh 0 50px;

    @media (max-width: 376px) {
        height: 595px+170px;
    }

    @media (max-width: 374px) {
        padding: 35vh 0 50px;
    }

    background: #dafff8;

    img {
        width: 100%;
    }

    .saleBannerContent {
        max-width: 1080px;
        margin: auto;

        a {
            text-decoration: none;
            background: #00c2ff;
            border: 1px solid #00c2ff;
            border-radius: 6px;
            padding: 13px 14px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: $mainFontSize;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
        }

        div {
            &:first-child {
                @media (max-width: 767px) {
                    order: 1;
                }

                h3 {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: 30px;
                    line-height: 37px;
                    color: #000000;
                    margin-bottom: 10px;
                }

                p {
                    &:nth-child(3) {
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: $mainFontWeight;
                        font-size: 16px;
                        line-height: 24px;
                        color: #000000;
                        margin-bottom: 33px;
                    }

                    &:first-child {
                        padding: 6px;
                        display: inline-block;
                        background: #00ffd1;
                        border-radius: 4px;
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: $mainFontWeight;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #000000;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.orderSent {
    width: 100%;

    @media (min-width:375px) {
        max-width: 315px;
    }

    @media (min-width:768px) {
        max-width: 608px;
    }

    @media (min-width:1024px) {
        max-width: 664px;
    }

    @media (min-width:1440px) {
        max-width: 480px;
    }

    @media (min-width:1920px) {
        max-width: 760px;
    }

    margin-top: 40px;
    margin-bottom: 40px;

    img {
        margin-bottom: 12px;
    }

    background: #DAFFF8;
    padding: 20px;
    border-radius: 6px;

    p {
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} + 12px);
        line-height: 37px;
        color: #000000;
        margin-bottom: 2px;
    }

    p.underline {
        margin-bottom: 21px;
        position: relative;

        &::after {
            content: "";
            background: #ececec;
            height: 1px;
            position: absolute;
            width: 100%;
            bottom: -10px;
            left: 0;
        }
    }

    p.smallFontSize {
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} - 6px);
        line-height: 22px;
        color: #000000;
    }
}

.path {
    background: #fafafa;
    padding: 108px 0 20px;

    @media (max-width:767px) {
        padding-top: 156px;
    }

    a {
        font-family: $mainFont;
        font-style: normal;
        text-decoration: none;
        font-weight: $mainFontWeight;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        text-align: left;
        margin-bottom: 5px;
    }
}

.productsOnHomepage,.forRemoval  {
    align-items: flex-end;
    .pagination {

        .paginatePrevBtn,
        .paginateNextBtn,
        .paginateBtn {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: calc(#{$mainFontSize} - 4px);
            line-height: 22px;
            text-align: center;
            color: #00C2FF;
            padding: 10px 14px 10px 10px;
            gap: 10px;
            width: 48px;
            height: 48px;
            background: #D6F5FF;
            border: 1px solid #D6F5FF;
            border-radius: 6px;
            text-align: center;
        }

        .paginateBtn {
            padding: 10px;
            margin-right: 10px;

            &:nth-child(2) {
                margin-left: 10px;
            }
        }

        .paginateBtn.active {
            background: #00FFD1;
            border: 1px solid #00FFD1;
            border-radius: 6px;
        }
    }

}

.productPage {
    padding: 40px 0;

    .productPageConatiner {
        &::after {
            content: "";
            background: #ececec;
            height: 1px;
            position: absolute;
            width: calc(100% - 40px);
            bottom: -41px;
        }
    }

    .product {
        margin-bottom: 40px;

        .productDescription {
            padding-top: 37px;

            @mixin choose {
                font-family: $mainFont;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
            }

            .chooseOptionsGroup {
                &::after {
                    content: "";
                    background: #ececec;
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    bottom: -20px;
                }
            }

            .chooseOptions {
                @mixin inputAndButtonStyles {
                    gap: 10px;
                    border-radius: 6px;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: 18px;
                    line-height: 22px;
                }

                .input_controls.error input {
                    border-color: #F65900;
                }

                div {
                    margin-right: 20px;

                    .quantity {
                        max-width: 90px;
                        width: 100%;

                        color: #000000;
                        padding: 10px;
                        background: #FFFFFF;
                        border: 1px solid #ECECEC;
                        @include inputAndButtonStyles;
                    }
                }


                button {
                    text-align: center;
                    padding: 10px 14px;
                    color: #FFFFFF;
                    width: 100%;
                    margin-right: 10px;

                    @media (max-width: 767px) {
                        margin-right: 0;
                    }

                    background: #00C2FF;
                    border: 1px solid #00C2FF;
                    @include inputAndButtonStyles;
                }

                p {
                    @include choose;
                    max-width: 100px;
                    width: 100%;
                    margin-right: 10px;
                }

                margin-bottom: 41px;

                select {
                    width: 100%;
                    padding: 12px 7px;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 3px);
                    line-height: 18px;
                    color: #000000;
                    border: 1px solid #ECECEC;
                    border-radius: 6px;
                }
            }

            .description {
                p {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    margin-bottom: 41px;
                }

                &::after {
                    content: "";
                    background: #ececec;
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    bottom: -20px;
                }
            }

            .price {
                margin-bottom: 20px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 16px;
                line-height: 20px;
                color: #00bf9d;

                &:first-child {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #000000;
                    margin-bottom: 40px;
                }

                span {
                    padding-left: 10px;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: 16px;
                    line-height: 20px;
                    text-decoration-line: line-through;
                    color: #bababa;
                }
            }

            h3 {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 30px;
                line-height: 37px;
                color: #000000;
                margin-bottom: 5px;
            }

            .productCode {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 5px;
            }

            .rating {
                margin-bottom: 20px;
            }

            .saleIndicator {
                top: 0;
                left: 20px;
            }
        }

        .imgGallery {


            img.active {
                border: 2px solid #00ffd1;
                border-radius: 6px;
            }

            img {
                margin-right: 20px;
                margin-bottom: 20px;
                width: 60px;
                height: 60px;
                border-radius: 6px;
            }
        }

        .mainImage {
            width: calc(100% - 80px);
            border-radius: 6px;

            @media (max-width:767px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .descriptionAndReviews {
        .reviews {
            form {
                padding: 20px;
                background: #FAFAFA;
                border-radius: 12px;

                button {
                    background: #00C2FF;
                    padding: 13px 14px;
                    border: 1px solid #00C2FF;
                    border-radius: 6px;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: $mainFontSize;
                    line-height: 22px;
                    text-align: center;
                    color: #FFFFFF;
                }

                p {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 4px);
                    line-height: 24px;
                    color: #000000;
                    margin-bottom: 5px;
                }

                .rating {
                    margin-bottom: 20px;
                }

                @mixin inputLabel {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 4px);
                    line-height: 24px;
                    color: #000000;
                    margin-bottom: 5px;
                }

                @mixin input {
                    border: 1px solid #ECECEC;
                    border-radius: 6px;
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 3px);
                    line-height: 18px;
                    color: #000000;
                    padding: 12px 7px;

                    &:focus {
                        outline: none;
                        border: 2px solid #00FFD1 !important;
                    }

                    // margin-bottom: 20px;
                }

                .textAreaLabel {
                    @include inputLabel
                }

                .userEmail {
                    @include inputLabel
                }

                #userEmail {
                    @include input
                }

                .userName {
                    @include inputLabel
                }

                #userName {
                    @include input;

                }

                #textAreaCommentary {

                    &:focus {
                        outline: none;
                        border: 2px solid blue !important;
                    }

                    @include input;
                    height: 200px;
                }
            }

            .commentaryContainer {
                position: relative;
                margin-bottom: 31px;

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    background: #ececec;
                    height: 1px;
                    position: absolute;
                    width: calc(100% - 40px);
                    bottom: -15px;
                    left: 20px;
                }

                // div {
                //     margin-bottom: 10px;
                // }

                .autor {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: calc(#{$mainFontWeight} - 200);
                    font-size: calc(#{$mainFontSize} - 3px);
                    line-height: 18px;
                    color: #000000;
                }

                .date {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 6px);
                    line-height: 22px;
                    color: #000000;
                }

                .commentary {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 4px);
                    line-height: 24px;
                    color: #000000;
                }

                .rating {
                    .toRight {
                        right: 20px;
                        top: 0;
                    }
                }
            }
        }


        .descriptionAndReviewsButtons {
            margin-bottom: 20px;
            padding-right: 22px;

            @media (min-width:992px) {
                padding-right: 12px;
                margin-bottom: 0;
            }
        }

        .descriptionBtn {
            padding: 12px 10px;
            background: #00FFD1;
            border: 1px solid #00FFD1;
            border-radius: 6px;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: calc(#{$mainFontSize} - 3px);
            line-height: 18px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
            margin-right: 10px;

            @media (min-width: 992px) {
                margin-bottom: 10px !important;
            }

        }

        .reviewsBtn {
            padding: 12px 10px;
            background: #D6F5FF;
            border: 1px solid #D6F5FF;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: calc(#{$mainFontSize} - 3px);
            line-height: 18px;
            text-align: center;
            color: #00C2FF;
        }

        .fullDesciption {
            p {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: calc(#{$mainFontSize} - 4px);
                line-height: 24px;
                color: #000000;
            }
        }
    }
}

.navigation {
    h3 {
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} + 12px);
        line-height: 37px;
        color: #000000;
    }

    select {
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        border-radius: 6px;
        padding: 12px 7px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} - 3px);
        line-height: 18px;
        color: #000000;

    }
}

.onSale {
    div {
        .mobileMenuHolder {
            padding-bottom: 0;

            .mobileSortMenu {
                display: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                text-align: left;
                background: #D6F5FF;
                border: 1px solid #D6F5FF;
                border-radius: 6px;

                @media (max-width: 1023px) {
                    display: block;
                    width: 48px;
                }

                @media (max-width:767px) {
                    width: 100%;
                }
            }
        }

        .sortPanel {
            .background {
                padding: 20px;
                background: #FAFAFA;
                border-radius: 6px;

                @media (max-width:767px) {
                    width: calc(100% - 40px);
                }

                @media (max-width:1023px) {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
                    margin-top: 11px;
                    background: #FAFAFA;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    // box-shadow: 0px 20px 60px rgb(0 0 0 / 25%);
                    border-radius: 6px;
                }
            }

            .background.visible {
                display: block;
                z-index: 1;
                opacity: 1;
            }

            h5 {
                font-family: $mainFont;
                font-style: normal;
                font-weight: calc(#{$mainFontWeight} + 200);
                font-size: calc(#{$mainFontSize} - 4px);
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 10px;
            }

            .priceOption {
                .sortByPricePanel {
                    // padding-top: 16px;
                    // padding-bottom: 10px;
                    width: 100%;
                    height: 16px;
                    margin-bottom: 10px;

                    .shaft {
                        top: 6px;
                        width: 100%;
                        background: #D6F5FF;
                        border-radius: 6px;
                        height: 4px;
                    }

                    // .center{
                    //     inset: 0;
                    //     margin: auto;
                    // }
                    .fill {
                        top: 6px;
                        width: 100%;
                        height: 4px;
                        background: #00C2FF;
                        margin-left: 0;
                        margin-right: 0;
                        border-radius: 6px;

                        .dot {
                            top: -12px;

                            &:first-child {
                                left: 0;
                            }

                            &:last-child {
                                right: 0;
                            }
                        }
                    }
                }
            }

            .colorOption,
            .sizeOption,
            .priceOption {
                input {
                    // display: none;
                }

                div.buttons {
                    margin-left: 0;

                    button {
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: $mainFontWeight;
                        font-size: calc(#{$mainFontSize} - 4px);
                        line-height: 17px;
                        padding: 5px;
                        color: #000000;
                        margin-bottom: 0;
                        background: none;
                        border: none;
                        text-align: left;
                    }

                    button.checked {
                        background-color: pink;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #ececec;
                    bottom: 20px;
                }

                padding-bottom: 41px;

                div {
                    &:last-child {
                        margin-bottom: 0;
                    }

                    padding-bottom: 0;
                    margin-bottom: 5px;

                    p {}

                    .sortByPricePanel {
                        margin-bottom: 10px;
                        padding: 0;
                    }
                }
            }

            .sizeOption {
                padding-bottom: 0;

                &::after {
                    display: none;
                }
            }

            .minAndMaxPrice {
                margin-bottom: 41px;

                p {
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: $mainFontWeight;
                    font-size: calc(#{$mainFontSize} - 4px);
                    line-height: 17px;
                    text-align: center;
                    color: #000000;
                }

            }
        }
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fafafa;

    div.list {
        div {
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #00c2ff !important;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: 767px) {
            & {
                order: 1;

                div {
                    justify-content: center;
                }
            }
        }
    }

    p {
        margin-bottom: 0;

        @media (max-width: 767px) {
            & {
                text-align: center;
            }
        }
    }

    img {
        width: auto !important;

        @media (max-width: 767px) {
            & {
                margin: 0 auto 15px;
            }
        }
    }
}

.checkoutForm,
.commentaryForm {
    padding-top: 40px;
    padding-bottom: 40px;

    .input_controls .input_controls .input_controls input:focus {
        outline: none;
    }

    .input_controls.validated input,
    .input_controls.validated textarea {
        border: 2px solid green !important;
    }

    form button {
        width: 100%;
    }

    .input_controls.error input,
    .input_controls.error textArea {
        border-color: #F65900 !important;
    }

    .input_controls .error {
        color: #F65900;
    }

    .orderExample {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 21px;
        }
    }

    .yourOrders {
        .orders {
            strong {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: calc(#{$mainFontSize} - 6px);
                line-height: 15px;
                margin-bottom: 10px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
            }

            .paymentOptions {
                div {
                    &:last-child {
                        margin-bottom: 21px;
                    }
                }

                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    height: 1px;
                    background: #ECECEC;
                    width: 100%;
                    bottom: -10px;
                }

                input[type=radio] {
                    display: none
                }

                label {
                    position: relative;
                    padding-left: 29px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    margin-bottom: 10px;
                    color: #000000;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        background-image: url(../images/Radio.svg);
                        background-position: center center;
                        height: 24px;
                        left: 0;
                    }
                }

                input[type=radio]:checked+label {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 24px;
                        background-image: url(../images/RadioChecked.svg);
                        background-position: center center;
                        height: 24px;
                        left: 0;
                    }
                }
            }

            .submitBtn {
                padding: 12px 10px;
                background: #00C2FF;
                border: 1px solid #00C2FF;
                border-radius: 3px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: calc(#{$mainFontSize} - 3px);
                line-height: 18px;
                text-align: center;
                color: #FFFFFF;
            }

            .privacyPolicy {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: calc(#{$mainFontSize} - 6px);
                line-height: 22px;
                color: #000000;
                margin-bottom: 10px;

                a {
                    color: #00C2FF;
                    text-decoration: none;
                }
            }

            .totalPrice {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: calc(#{$mainFontSize} - 4px);
                line-height: 17px;
                text-align: right;
                color: #00BF9D;
                margin-bottom: 10px;
            }

            background: #FFFFFF;
            padding: 20px;
            border: 1px solid #ECECEC;
            border-radius: 6px;

            .underline {
                &::after {
                    position: absolute;
                    content: "";
                    height: 1px;
                    background: #ECECEC;
                    width: 100%;
                    bottom: -10px;
                }
            }
        }

        .quantityAndPrice {
            font-family: $mainFont;
            font-style: normal;
            font-weight: $mainFontWeight;
            font-size: calc(#{$mainFontSize} - 4px);
            line-height: 17px;
            text-align: right;
            color: #00BF9D;
        }

        .imgAndName {
            img {
                width: 61px;
                height: 61px;
                border-radius: 3px;
                margin-right: 10px;
            }

            p {
                font-family: $mainFont;
                font-style: normal;
                font-weight: $mainFontWeight;
                font-size: calc(#{$mainFontSize} - 4px);
                line-height: 17px;
                color: #000000;
            }
        }


    }

    h5 {
        font-family: $mainFont;
        font-style: normal;
        font-weight: calc(#{$mainFontWeight} + 200);
        font-size: calc(#{$mainFontSize} - 4px);
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 10px;
    }

    label {
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} - 4px);
        line-height: 24px;
        margin-bottom: 5px;
        color: #000000;

        span {
            color: #F75900;
        }
    }

    .contactInfo,
    .shippingDetails {
        margin-bottom: 30px;

        .input_controls {
            &:last-child {
                input {
                    margin-bottom: 0;
                }
            }
        }
    }

    select {
        margin-bottom: 20px;
        border: 1px solid #ECECEC;
        border-radius: 6px;
        padding: 11px 7px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} - 3px);
        line-height: 18px;

        color: #000000;

    }

    input {
        padding: 11px 7px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: $mainFontWeight;
        font-size: calc(#{$mainFontSize} - 3px);
        line-height: 18px;
        color: #BABABA;
        border: 1px solid #ECECEC;
        border-radius: 6px;
    }

    .input_controls {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}